<div class="row">
    <form [formGroup]="postForm" (ngSubmit)="addNewPost()">
        <div class="col-12 mb-3">
            <label for="">Title</label>
            <input type="text" class="form-control" formControlName="title">
        </div>
        <div class="col-12 mb-3">
            <label for="">Description</label>
            <input type="text" class="form-control" formControlName="description">
        </div>
        <div class="col-12 mb-3">
            <button class="btn btn-primary btn-sm" [disabled]="!postForm.valid">Add</button>
        </div>
    </form>
</div>