<h6>Hot and Cold Observable</h6>
<div class="row mb-3 g-2">
    <div class="col-9">
        <div class="card">
            <div class="card-header">
                Cold Observables
            </div>
            <div class="card-body">
                <p class="mb-0">When the data is produced by the Observable itself, we call it a cold Observable.</p>
                <a href="https://luukgruijs.medium.com/understanding-hot-vs-cold-observables-62d04cf92e03#:~:text=To%20understand%20the%20concept%20of,call%20it%20a%20hot%20Observable"
                    target="_blank">reference</a>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <div class="card-header">
                Example
            </div>
            <div class="card-body">
                <ul id="elContainer"></ul>
            </div>
        </div>
    </div>
</div>

<div class="row mb-3 g-2">
    <div class="col-9">
        <div class="card">
            <div class="card-header">
                Hot Observables
            </div>
            <div class="card-body">
                <p class="mb-0">When the data is produced outside the Observable, we call it a hot Observable.</p>
                <a href="https://luukgruijs.medium.com/understanding-hot-vs-cold-observables-62d04cf92e03#:~:text=To%20understand%20the%20concept%20of,call%20it%20a%20hot%20Observable"
                    target="_blank">reference</a>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <div class="card-header">
                Example
            </div>
            <div class="card-body">
                <ul id="elContainer2"></ul>
            </div>
        </div>
    </div>
</div>