<div class="row mb-3 g-2">
    <div class="col-9">
        <div class="card">
            <div class="card-header">
                Custom observable
            </div>
            <div class="card-body">
                <p class="mb-0">Observables can be created with new Observable. Most commonly, observables are created
                    using
                    creation functions, like of, from, interval, etc.</p>
                <a href="https://rxjs.dev/guide/observable" target="_blank">https://rxjs.dev/guide/observable</a>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <div class="card-header">
                Example
            </div>
            <div class="card-body">
                <ul id="elContainer"></ul>
            </div>
        </div>
    </div>
</div>