<div class="mb-3">
    <h6 class="mb-3">Subject</h6>
    <p class="mb-0">An RxJS Subject is a special type of Observable that allows values to be multicasted to many
        Observer</p>
    <a href="https://rxjs.dev/guide/subject" target="_blank">https://rxjs.dev/guide/subject</a>
</div>

<div class="mb-3">
    <h6 class="mb-3">Behaviour Subject</h6>
    <p class="mb-0">A variant of Subject that requires an initial value and emits its current value whenever it is
        subscribed to.</p>
    <a href="https://www.tektutorialshub.com/angular/replaysubject-behaviorsubject-asyncsubject-in-angular/"
        target="_blank">https://www.tektutorialshub.com/angular/replaysubject-behaviorsubject-asyncsubject-in-angular/</a>
</div>

<div class="row mb-3 g-2">
    <div class="col-4">
        <h6>Example</h6>
        <h6>Username is - {{username}}</h6>
        <h6>Username_behaviorSub is - {{username_bSub}}</h6>
    </div>
</div>

<hr>
<div class="row mb-3">
    <div class="col-4">
        <app-comp1></app-comp1>
    </div>
    <div class="col-4">
        <app-comp2></app-comp2>
    </div>
    <div class="col-4">
        <app-comp3></app-comp3>
    </div>
</div>