<div class="mb-3">
    <h6 class="mb-3">Custom Operator</h6>
    <p class="mb-0">We can create custom operator by combining multiple built-in rxJs operators based on requirements.
    </p>
    <a href="https://indepth.dev/posts/1421/rxjs-custom-operators"
        target="_blank">https://indepth.dev/posts/1421/rxjs-custom-operators</a>
</div>

<div class="row mb-3 g-2">
    <h6>Example -live search</h6>
    <div class="col-4">
        <div class="card">
            <input type="text" class="form-control" #inp1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <ul id="elContainer"></ul>
    </div>
</div>