<div class="container">
    <div class="row m-3 g-2">
        <div class="col-3">
            <div class="card" routerLink="higher-order-obs">
                <div class="card-body">
                    Higher Order Observables
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card" routerLink="custom-operator">
                <div class="card-body">
                    Custom Operator
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card" routerLink="schedulers">
                <div class="card-body">
                    Schedulers
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card" routerLink="multicasting">
                <div class="card-body">
                    Multicasting
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card" routerLink="subject">
                <div class="card-body">
                    Subject
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card" routerLink="replay-subject">
                <div class="card-body">
                    Replay Subject
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card" routerLink="async-subject">
                <div class="card-body">
                    Async Subject
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card" routerLink="hot-cold-obs">
                <div class="card-body">
                    Hot and Cold Observables
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card" routerLink="flow-control">
                <div class="card-body">
                    Backpressure and Flow Control
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card" routerLink="custom-observable">
                <div class="card-body">
                    Custom Observable
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card" routerLink="combine-transform">
                <div class="card-body">
                    Combining and Transforming Observables
                </div>
            </div>
        </div>
    </div>
    <!-- <ul class="list-group list-group-horizontal">
    <li class="list-group-item">
        <a routerLink="higher-order-obs">Higher Order Observables</a>
    </li>
    <li class="list-group-item">
        <a routerLink="custom-operator">Custom Operator</a>
    </li>
    <li class="list-group-item">
        <a routerLink="schedulers">Schedulers</a>
    </li>
    <li class="list-group-item">
        <a routerLink="multicasting">Multicasting</a>
    </li>
    <li class="list-group-item">
        <a routerLink="subject">Subject</a>
    </li>
    <li class="list-group-item">
        <a routerLink="replay-subject">Replay Subject</a>
    </li>
    <li class="list-group-item">
        <a routerLink="async-subject">Async Subject</a>
    </li>
    <li class="list-group-item">
        <a routerLink="hot-cold-obs">Hot and Cold Observables</a>
    </li>
    <li class="list-group-item">
        <a routerLink="flow-control">Backpressure and Flow Control</a>
    </li>
    <li class="list-group-item">
        <a routerLink="custom-observable">Custom Observable</a>
    </li>
    <li class="list-group-item">
        <a routerLink="combine-transform">Combining and Transforming Observables</a>
    </li>
</ul> -->
    <hr>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</div>