<div class="mb-3">
    <h6 class="mb-3">Multicasting</h6>
    <p>Multicasting is the practice of broadcasting to a list of multiple subscribers in a single execution.</p>
</div>

<div class="col-3 mb-3">
    <div class="card">
        <div class="card-header">
            unicast
        </div>
        <div class="card-body">
            <ul id="elContainer"></ul>
        </div>
    </div>
</div>

<div class="row mb-3 g-2">
    <div class="col-9">
        <div class="card">
            <div class="card-header">
                share
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <p class="mb-0">Share source among multiple subscribers.
                    </p>
                    <a href="https://rxjs.dev/api/operators/share"
                        target="_blank">https://rxjs.dev/api/operators/share</a>
                    <br>
                    <a href="https://www.learnrxjs.io/learn-rxjs/operators/multicasting/share"
                        target="_blank">https://www.learnrxjs.io/learn-rxjs/operators/multicasting/share</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <div class="card-header">
                Example
            </div>
            <div class="card-body">
                <ul id="elContainer2"></ul>
            </div>
        </div>
    </div>
</div>
<div class="row mb-3 g-2">
    <div class="col-9">
        <div class="card">
            <div class="card-header">
                shareReplay
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <p class="mb-0">Share source and replay specified number of emissions on subscription.
                    </p>
                    <a href="https://rxjs.dev/api/index/function/shareReplay"
                        target="_blank">https://rxjs.dev/api/index/function/shareReplay</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <div class="card-header">
                Example
            </div>
            <div class="card-body">
                <ul id="elContainer4"></ul>
            </div>
        </div>
    </div>
</div>
<div class="row mb-3 g-2">
    <div class="col-9">
        <div class="card">
            <div class="card-header">
                publish & connect
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <p class="mb-0">Share source and make hot by calling connect.
                    </p>
                    <a href="https://rxjs.dev/api/index/function/publish"
                        target="_blank">https://rxjs.dev/api/index/function/publish</a>
                    <br>
                    <a href="https://www.learnrxjs.io/learn-rxjs/operators/multicasting/publish"
                        target="_blank">https://www.learnrxjs.io/learn-rxjs/operators/multicasting/publish</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <div class="card-header">
                Example
            </div>
            <div class="card-body">
                <ul id="elContainer3"></ul>
            </div>
        </div>
    </div>
</div>
<div class="row mb-3 g-2">
    <div class="col-9">
        <div class="card">
            <div class="card-header">
                connect & connectable
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <h6>connect</h6>
                    <p class="mb-0">Creates an observable by multicasting the source within a function that allows the
                        developer to define the usage of the multicast prior to connection.
                    </p>
                    <a href="https://rxjs.dev/api/index/function/connect"
                        target="_blank">https://rxjs.dev/api/index/function/connect</a>
                </div>
                <div class="mb-3">
                    <h6>connectable</h6>
                    <p class="mb-0">An observable with a connect method that is used to create a subscription to an
                        underlying source, connecting it with all consumers via a multicast.
                    </p>
                    <a href="https://rxjs.dev/api/index/interface/Connectable"
                        target="_blank">https://rxjs.dev/api/index/interface/Connectable</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <div class="card-header">
                Example
            </div>
            <div class="card-body">
                <ul id="elContainer5"></ul>
            </div>
        </div>
    </div>
</div>